Server=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=

ConnectionStrings__DefaultConnection= Server=db;Database={MYSQL_DATABASE};User={MYSQL_USER};Password={MYSQL_PASSWORD};

JwtSettings__SecretKey=
JwtSettings__ExpiryMinutes=