SERVER=mysql-db
PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=

ConnectionStrings__MySql=Server=${SERVER};Port=${PORT};Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD};

DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

ConnectionStrings__Postgres=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD};

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

JwtOptions__SecretKey=
JwtOptions__ExpiryMinutes=